@model NBD_SystemZarządzaniaBiblioteką.Models.Book

@{
    ViewData["Title"] = "Usuń książkę";
}

<h2>Usuń książkę</h2>

<h3>Czy na pewno chcesz usunąć tę książkę?</h3>
<div>
    <h4>Książka</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Tytuł
        </dt>
        <dd class="col-sm-10">
            @Model.Title
        </dd>
        <dt class="col-sm-2">
            Autor
        </dt>
        <dd class="col-sm-10">
            @Model.Author.Name
        </dd>
        <dt class="col-sm-2">
            Biografia
        </dt>
        <dd class="col-sm-10">
            @Model.Author.Bio
        </dd>
        <dt class="col-sm-2">
            Ilość egzemplarzy
        </dt>
        <dd class="col-sm-10">
            @Model.NumberOfCopies
        </dd>
    </dl>

    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Usuń</button>
        <a asp-action="Index" class="btn btn-secondary">Anuluj</a>
    </form>
</div>
